In [2]:
import pickle

# Load DataFrame from the saved file
with open('../Notebooks/pickles/web_200.pkl', 'rb') as file:
    new_df = pickle.load(file)

C:\Users\Geeth Krishna\AppData\Local\Temp\ipykernel_15292\1683171490.py:5: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  new_df = pickle.load(file)

In [3]:
new_df

,movie_id,title,tags,genre_vector
0,19995,Avatar,"In,the,22nd,century,,a,paraplegic,Marine,is,di...","[-0.09418769, 0.04309484, -0.22166204, -0.0341..."
1,285,Pirates of the Caribbean: At World's End,"Captain,Barbossa,,long,believed,to,be,dead,,ha...","[0.31699076, 0.09808152, 0.16181524, -0.079736..."
2,206647,Spectre,"A,cryptic,message,from,Bond’s,past,sends,him,o...","[0.08757486, 0.045438804, 0.11464435, -0.11773..."
3,49026,The Dark Knight Rises,"Following,the,death,of,District,Attorney,Harve...","[0.22611064, 0.16530569, -0.16402909, -0.10324..."
4,49529,John Carter,"John,Carter,is,a,war-weary,,former,military,ca...","[0.04605991, 0.2085038, -0.073308, 0.08818359,..."
...,...,...,...,...
4804,9367,El Mariachi,"El,Mariachi,just,wants,to,play,his,guitar,and,...","[0.118048355, 0.022706864, 0.067909636, -0.056..."
4805,72766,Newlyweds,"A,newlywed,couple's,honeymoon,is,upended,by,th...","[-0.2063427, -0.08324485, 0.04769225, -0.19692..."
4806,231617,"Signed, Sealed, Delivered","""Signed,,Sealed,,Delivered"",introduces,a,dedic...","[-0.003033065, 0.054340452, -0.031522196, -0.0..."
4807,126186,Shanghai Calling,"When,ambitious,New,York,attorney,Sam,is,sent,t...","[0.046489872, 0.050557274, 0.03298887, 0.02205..."
4808,25975,My Date with Drew,"Ever,since,the,second,grade,when,he,first,saw,...","[0.080931984, 0.13941172, 0.16917457, 0.095040..."

In [4]:
import pandas as pd
import numpy as np
from numpy.linalg import norm

In [5]:
def recommed(name):
    Top_movies = []
    cosine_array = []
    index = new_df.loc[new_df['title'] == name].index[0]
    for i in new_df.index:
        A = new_df['genre_vector'][i]
        B = new_df['genre_vector'][index]

        # Check for missing or invalid data (NoneType or empty vectors)
        if A is not None and B is not None and len(A) > 0 and len(B) > 0:
            A = np.array(A)
            B = np.array(B)
            cos = np.dot(A, B) / (norm(A) * norm(B))
            cosine_array.append(cos)
        else:
            cosine_array.append(0.0)  # Handle missing or invalid data with a default value

    # Now cosine_array contains the cosine similarities
    #print(cosine_array)
    sorted_with_indices = sorted(enumerate(cosine_array), key=lambda x: x[1], reverse=True)
    for i in range(1,11):
        Top_movies.append(new_df['title'][sorted_with_indices[i][0]])
    print(Top_movies)

In [8]:
recommed('Titanic')

['Four Lions', 'Miss Julie', 'In the Heart of the Sea', 'Real Women Have Curves', 'Fast Times at Ridgemont High', 'Police Academy', 'The Toxic Avenger', 'Into the Grizzly Maze', 'The Return', 'America Is Still the Place']